@charset "iso-8859-1";
/* CSS Document */
.bg {background-position:top; background-repeat:no-repeat}
td {
	color:#717171;
	font-size:11px;
	font-family:Tahoma, Arial, Geneva, sans-serif
}
a.txt {color:#717171; font-size:10px; text-decoration:underline}
a.txt:hover {text-decoration:none}
.www {color:#717171; font-size:10px; text-decoration:none}
.www:hover {text-decoration:underline}
.grey-txt {
	color:#616161;
	font-size:11px;
	text-decoration:none
}
.grey-big {color:#7A7A7A; font-size:11px; text-decoration:none}
.date {color:#868686; font-size:10px; text-decoration:none}
.red-big {color:#A5242A; font-size:11px; text-decoration:none}
a.red2 {color:#A5242A; font-size:11px; text-decoration:underline}
a.red2:hover {text-decoration:none}
a.or {color:#CC5C28; font-size:10px; text-decoration:underline}
a.or:hover {text-decoration:none}
a.red {color:#B62830; font-size:10px; text-decoration:underline}
a.red:hover {text-decoration:none}
.red-txt {
	color:#B62830;
	font-size:11px;
	text-decoration:none
}
.red-txt:hover {text-decoration:underline}
.top {color:#414141; font-size:11px; text-decoration:none; font-family:Arial, Tahoma, Geneva, sans-serif}
.top:hover {text-decoration:underline}
.bot {color:#454545; font-size:9px; text-decoration:none}
.scroll {scrollbar-3dlight-color : #EEECE4; 
	scrollbar-arrow-color : #DAD7C9;
	scrollbar-base-color : #EEECE4;
	scrollbar-darkshadow-color : #DAD7C9;
	scrollbar-face-color : #EEECE4;
	scrollbar-highlight-color : #DAD7C9;
	scrollbar-shadow-color : #DAD7C9;
	scrollbar-track-color : #EEECE4}
